body::-webkit-scrollbar {
  display: none;
}

html{
    background-color: var(--lightBlack);
    --lightBlack: #313131;
    --white: #e8eaed ;
    --darkBlack: #202124;
    --borderColor:#5f6368;
    --apuTheme: #00c853;
    font-family: 'Google Sans',Roboto,Arial,sans-serif !important;
  }

a{
  color: var(--apuTheme);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
  opacity: 0.7; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
  opacity: 0.7; /* Firefox */
}
