

nav {
    position: fixed;
    top: 0;
    z-index: 10;
}

.Homecontainer {
    padding: 0px;
    width: 100%;
}

.away-nav {
    margin: 90px auto;
}


/* keep box */
.collections {
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}



.items {
    background-color: var(--darkBlack);
    margin: 5px 5px 5px 5px;
    border: 2px solid var(--borderColor);
    border-radius: 8px;
    color: var(--white);
    line-height: 1.3rem;
    letter-spacing: .04428571em
}

.title {
    padding: 16px 10px 0 16px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: left;
    word-wrap: break-word;

}

.main-task {
    text-align: left;
    padding: 10px 16px 12px 16px;
    word-wrap: break-word;
    white-space: pre-line;
}

.progress {
    margin: 0;
    background-color: transparent;
}

/* icons */

.flexBox {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    flex-direction: row;
}

.items .myicons {
    border-radius: 50%;
    padding: 4px;
    width: 40px;
    font-size: 2px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    opacity: 0.7;
    color: var(--white);
}

.myicons:hover {
    opacity: 0.87;
    background-color: rgba(154, 160, 166, 0.157);
    border-radius: 50%;
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}


/* footer */
.myfooter{
    position: fixed;
    display: sticky;
    bottom: 0;
    z-index: 1;
    color: var(--white);
    left: 50%;
    transform: translate(-50%, 0);
}

.container .myImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


.infoIcon{
    height: 30px;
    filter: invert(0.9);
}
.flexBox2 {
    display: flex;
    justify-content: space-evenly;
}

.space-top{
    margin-top: 10%;
    padding-bottom: 2em;
}
